*~
*.o
*.lo
*.la
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/autoregen.sh
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/plugins/.deps/
/plugins/.libs/
/plugins/Makefile
/plugins/Makefile.in
/stamp-h1
/tools/.deps/
/tools/Makefile
/tools/Makefile.in
/tools/gst-switch-srv
/tools/gst-switch-ui
/tools/*.gcno
/tools/*.gcda
/test-switch-srv.out
/tests/test-mix-source
/tests/test-switch-server
