*~
*.o
*.lo
*.la
*.pyc
*.gcda
*.gcov
*.txt
imgurbash.sh.*
.coverage
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/autoregen.sh
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/_build
/html
/htmlcov
/install-sh
/libtool
/ltmain.sh
/lint
/missing
/plugins/.deps/
/plugins/.libs/
/plugins/Makefile
/plugins/Makefile.in
/python-api/reports/
/python-api/htmlcov/
/stamp-h1
/tools/.deps/
/tools/Makefile
/tools/Makefile.in
/tools/gst-switch-srv
/tools/gst-switch-ui
/tools/gst-switch-cap
/tools/*.gcno
/tools/*.gcda
/test-switch-srv.out
/tests/test-mix-source
/tests/test-switch-server
/tests/test-switch-server-valgrind.log
/tests/gstworker.plist
/tools/gstworker.plist
/timestamped*
/frames
/transition-strips
/record*.dat
*.data
*.log
/tools/gst-switch-ptz
